html {

}

body {
    color: rgba(6, 6, 6, 0.4);
    background: rgba(237, 237, 237, 0.4) fixed no-repeat top right;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', 'Avenir Next', 'Futura', 'Trebuchet MS', sans-serif;
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    color: rgb(77, 77, 77);
}

h2 {
    text-align: center;
    font-family: 'Avenir Next', 'Futura', 'Trebuchet MS', sans-serif;
    color: rgb(77, 77, 77);
}

time {
    font-size: 0.8em;
    font-style: italic;
}

a {
    text-decoration: none;
}
hr {
    border-top: 3px double rgb(77, 77, 77);

}

article {
    color: rgb(35, 35, 35);
    margin: 50px;
    padding: 50px;
    text-align: left;
}

header {

    color: rgb(6, 6, 6);
    padding: 15px;
    position: inherit;
}

#newWrap {

    margin: 10%;
}

/*========Titre========*/
#boot_title2 {

    color: rgba(0, 0, 0, 0.92);
    font-family: 'Rouge Script', cursive;
    font-size: 2em;
    font-weight: normal;
    border:1px solid black;
    background-color: rgb(255,255,255);
    text-align: center;
    text-shadow: 1px 1px 2px rgb(8, 43, 52);
    margin: 50px;

}

#boot_title {
    margin: 50px;
    color: rgb(73, 73, 73);
    font-family: 'Rouge Script', cursive;
    font-size: 6em;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(8, 43, 52);
}



.titreBillet_boot {
    color: rgb(124, 121, 93);
    font-family: 'Trocchi', serif;
    font-size: 2em;
    font-weight: normal;
    line-height: 1;
    text-align: left;
}


.titreBlog {
    text-align: center;
}

#titreReponses {
    color: rgb(124, 121, 93);
    font-family: 'Trocchi', serif;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 48px;
}


#title_ty {
    font-size: 1.2em;
    margin: 25px;
}
/*
* ========Début de la NAV========
*/
.content {
    position: relative;
    top: 5px;
    margin: 0 auto;
}


input#toggle {
    display: none;
}

input#toggle:checked ~ .menu {
    display: block;
}

input#toggle ~ .menu {
    display: none;
}

.menu a {
    display: block;
    background: rgb(248, 248, 248);
    width: 240px;
    height: 40px;
    padding: 0 0 0 10px;
    font: bold 13px Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.4);
    line-height: 40px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.menu a:nth-child( 2 ) {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.menu a:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.menu a:hover {
    color: rgb(85, 85, 85);
}

.arrow {
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid rgb(248, 248, 248);
}

/*
 * ========Fin de la NAV========
 */



/*========Page d'accueil========*/


.boot {
    background: url("images/alaska.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}


.wrapper_boot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

}

.portrait {
    width: 35%;
    height: auto;
    border-radius: 50%;
    opacity: 0.8;
    border-width: 5px;
    box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.6);
    margin-top: 50px;
    float: left;

}


.suite {
    font-style: italic;
    font-size: 0.9em;
    color: rgb(207, 7, 33);

}

#container_boot {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    padding:25px;
}

/*========Fin page d'accueil========*/


/*========Footer========*/
footer {
    text-align: center;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    background-color: rgba(117, 143, 255, 0.5);
    padding: 15px;
    font-size: 0.8em;
    font-weight: inherit;
}

/*Logos du pied de page*/
#logo {
    display: flex;
    justify-content: center;
    padding: 0 25px 0 25px;

}

#logo img {
    width: auto;
    height: auto;
    padding: 0 25px 0 25px;
}

.shadowfilter {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.80));
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;

}

.shadowfilter:hover {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}
/*========Fin du footer========*/




/*========Détail d'un article avec les réponses========*/

#reponses {
    width: auto;
    height: auto;
    color: rgb(35, 35, 35);
    padding: 25px 50px;
    border: 1px solid;
}

#reponse {
width: auto;
    border: 1px solid;
    margin: 25px;
    padding: 25px;
    background-color: rgb(255, 255, 255);
}

#txtCommentaire {

    padding: 15px 0 0 15px;
}

.auteur {
    font-size: 0.8em;
    font-weight:bolder;
}


/*========Input========*/

.connect, #author {
    width: auto;
    background-color: transparent;
    border-bottom: 1px solid rgb(6, 6, 6);
    color: rgb(6, 6, 6);
    font-size: 12px;
    font-family: Courier, monospace;
    height: auto;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 25px;
}

* {
    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
}

input {
    border-bottom: 1px solid rgb(6, 6, 6);
}

/*========Fin des inputs========*/



textarea {
    overflow: hidden;
    word-wrap: break-word;
    border: 1px solid;
    resize: none;
    height: 160px;
    background: rgb(255, 255, 255);
}



/*========Partie Admin========*/

.info {
    font-size: 0.7em;
    font-style: italic;
    color: rgb(255, 53, 79);
}

.admin_boot {
    width: auto;
    height: auto;
    margin: 50px;
    padding: 50px;
    text-align: start;
}

.articles {
    text-align: center;
    font-size: 1.5em;
}

#compteur {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color:rgb(0, 0, 0);
    font-size: 1.5em;
}

#blocAdmin {
    display: flex;
    justify-content: space-around;
}

.formulaire {
    background-color: rgb(173, 171, 183);
    background-size: cover;
}

/*========Vue du Billet========*/

.episode {
    border:1px solid black;
    background-color: rgb(244, 244, 244);

}

.episode p {
    color: rgb(76, 74, 55);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
    line-height: 32px;
    margin: 0 0 24px;
}

.episode time {
    color: rgb(76, 74, 55);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    margin: 0 0 24px;
}

.episode .titreBillet {
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Rouge Script', cursive;
    font-size: 3em;
    font-weight: normal;
    line-height: 48px;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(8, 43, 52);
}





/*========Tableaux========*/

.t_title {
    font: 100 3em/1 avenir light;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.titre_table {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}

 tr, td, th {
    text-align: center;
    margin: auto;
    border: 1px solid rgb(96, 84, 72);
    padding: 1em;
    width: 50%;
    color: rgb(77, 77, 77);
    margin-bottom: 10%;
    background-color: rgb(255, 255, 255);
}

table {
margin: auto;
}
/*Fin des Tableaux*/

/*========Les boutons========*/




.bouton_signal {
    width: auto;
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    color: #515151;
    background: #d3d3d3;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
    background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
}

.bouton_signal:hover {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
}

.bouton1 {
    width: auto;
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    color: #19667d;
    background: #70c9e3;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    background: -moz-linear-gradient(top,  #70c9e3 0%, #39a0be 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70c9e3), color-stop(100%,#39a0be)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* IE10+ */
    background: linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* W3C */
}


.bouton1:hover {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
}
.bouton {
    width: auto;
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
    color: #3e5706;
    background: #a5cd4e;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* IE10+ */
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%); /* W3C */
}

.bouton:hover {
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
    box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
}






/*========Fin des boutons========*/











#boot_flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0.5);

}

#extrait {
    display: flex;
    flex-direction: column;
}

.titreBillet_boot {
    border-bottom-style: solid;

}





.wrapper {
    margin: 10%;
    width: 80%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

#container {
    width: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgb(73, 73, 73);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(128, 128, 128),
    -1px -1px 2px rgb(255, 255, 255);
}





.wrapper_mention {
    width: 80%;
    height: auto;
    margin: 10%;
    background-color: rgba(255, 255, 255, 0.9);
}
/*========Flash========*/

#flash {
    text-align: center;
    background-color: rgb(244, 250, 76);
    font-style: italic;
    color: rgb(0, 0, 0);

}

#flash:hover {
    color: transparent;
    background-color: transparent;
    transition: all 0.9s ease-in;
}




/*Media Queries*/

@media screen and (max-width: 768px) {

    html {
width: 100%;
        clear: both;
    }
    .bouton_signal{
        clear: both;
    }
    body {
        width: 100%;
        padding:0;
        font-size: 0.5em;
        font-family: 'Source Sans Pro', 'Avenir Next', 'Futura', 'Trebuchet MS', sans-serif;
    }
    header {
        width: 100%;
        padding:0;
    }
    * {
        font-size: 100%;
    }

title {
    text-align: center;
}
    thead
    {
        font-size: 0;
        visibility: hidden;
    }
    table,
    tbody,
    tr,
    td,
    th
    {
        display: block;
        width: auto;

    }
    input,
    textarea,
    select
    {
        width: 98%;
    }

    /*Page d'accueil*/
    .wrapper_boot {
        display: flex;
        flex-direction: column;

    }

    .portrait {
        width: 25%;
        height: auto;
        border-radius: 50%;
        opacity: 0.8;
        border-width: 5px;
        box-shadow: 0px 0px 10px 4px rgba(255, 255, 255, 0.6);
        margin-top: 50px;
        float: left;

    }

    #boot_title2 {

        color: rgba(0, 0, 0, 0.92);
        font-family: 'Rouge Script', cursive;
        font-size: 2em;
        font-weight: normal;
        border:1px solid black;
        background-color: rgb(255,255,255);
        text-align: center;
        text-shadow: 1px 1px 2px rgb(8, 43, 52);
        margin-bottom: 50px;

    }


    #container_boot {
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        padding:25px;
    }

    article {
        color: rgb(35, 35, 35);
        margin: 0;
        padding: 0;
    }


    /*Fin page d'accueil*/


    /*========Footer========*/
    #logo {
        max-width: 100%;
        height: auto;
    }
    .shadowfilter {
        max-width: 100%;
        height: auto;
        padding: 0 5px 0 5px;
    }
    /*========Liste des chapitres========*/
    .wrapper{
        display: flex;
        flex-direction: column;
    }

#boot_title {

    text-align: center;
    font-family: 'Avenir Next', 'Futura', 'Trebuchet MS', sans-serif;
   font-size: 2em;
}

}

